PORT=
# accepted values: off|error|warn|info|debug|trace (case insensitive)
LOG_LEVEL=
# Allow up to this many entries in one insert statement when bulk inserting values to db.
# Higher values allow faster inserts, but might exceed the db's "max variables per statement" limit.
SQL_CHUNK_SIZE=150
# When to refresh mods to db when app is launched
#   always-download:      always download mods cache and update db
#   download-if-expired:  update cache and db if time from last download is more than MOD_EXPIRATION_TIME_HOURS
#   cache-only:           (for development) always do cache->db. Requires cache file to be present
#   none:                 (for development) don't download, don't move from cache to db
MOD_REFRESH=download-if-expired
# required if using "download-if-expired"
MOD_EXPIRATION_TIME_HOURS=24

DB_URL=
# optional, only required for tests
DATABASE_URL=postgres://test:test@localhost:5431/test

JWT_SECRET=
