<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Lethal Company Mod Tinder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="root">
      <h1>Import mods?</h1>
      <p>Previous import: {{ latest_import }}</p>
      <form action="/import-mods" method="post" class="vertical-container">
        <button type="submit">Yes</button>
        <a href="/">No</a>
      </form>
    </div>
  </body>
</html>
