<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lethal Company Mod Tinder</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="root">
      {% if username %}
      <h1>Welcome {{ username }} to Lethal Company mod tinder</h1>
      <a href="settings">Settings</a>
      <a href="rate">Start rating mods</a>
      <a href="likes">View your liked mods</a>
      <a href="logout">Logout</a>
      {% else %}
      <h1>Welcome to Lethal Company mod tinder!</h1>
      <p1>Please login or create user first</p1>
      <a href="create-user">Create user</a>
      <a href="login">Login</a>
      {% endif %}
    </div>
  </body>
</html>
