<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Lethal Company Mod Tinder</title>
  </head>
  <body>
    {% if username %}
    <h1>Welcome {{ username }} to Lethal Company mod tinder</h1>
    <br />
    <a href="rate">Start rating mods</a>
    <br />
    <a href="likes">View your liked mods</a>
    <br />
    <a href="logout">Logout</a>
    {% else %}
    <h1>Welcome to Lethal Company mod tinder!</h1>
    <p1>Please login or create user first</p1>
    <br />
    <a href="create-user">Create user</a>
    <br />
    <a href="login">Login</a>
    {% endif %}
  </body>
</html>
